@use './abstracts/variables.scss' as *;
@use './abstracts/mixins.scss' as *;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $quaternary-color;
}

a {
  text-decoration: none;
  color: $tertiary-color;
}

p {
  font-size: 0.9rem;
}

//header
.header {
  background-color: $secondary-color;
  color: $tertiary-color;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-hky {
  width: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

//footer
.footer {
  background-color: $secondary-color;
  color: $tertiary-color;
  padding: 10px 20px;

  .logo-hky {
    width: 60px;
  }
}

.copyright {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 0;
}

.middle-footer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 10px 30px;
}

// .social-media {
//   width: 150px;
// }

.yellow-line {
  height: 1px;
  background-color: $tertiary-color;
}

.yellow-line-bold {
  height: 1.3rem;
  background-color: $tertiary-color;
  padding: 0;
}
