@use '../../../../styles/abstracts/mixins.scss' as *;
@use '../../../../styles/abstracts/variables.scss' as *;

.profilsejarah-section {
}

.profil-paroki {
  padding: 0 0 0 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  
  .image-profil {
    height: 300px;
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.sejarah-paroki-section {
  padding: 20px;
}
