@use '@/styles/abstracts/mixins.scss' as *;
@use '@/styles/abstracts/variables.scss' as *;

.sabda-kehidupan {
  &-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  &-utama {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem 5rem;
  }

  &-image img {
    width: 200px;
    border-radius: 15rem;
    border: 3px solid $quaternary-color;
  }

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-judul, &-tanggal {
    margin: 0;
    padding: 0;
  }
}

.sub-sabda-kehidupan {
  padding-inline: 2rem;

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-judul, &-tanggal {
    margin: 0;
    padding: 0;
  }

  &-judul {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: $tertiary-color ;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-align: center;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 0.8rem;
      color: $quaternary-color;
      border: 1px solid $quaternary-color;
      padding: 0.25rem 0.5rem;
      border-radius: 2rem;
    }
  }
}