@use './abstracts/mixins' as *;
@use './abstracts/variables' as *;

.contact {
  &-section {
    padding: 0 2rem 2rem;
    display: flex;
    flex-direction: column;
  }

  &-main {
    display: flex;
    gap: 2rem;
    padding-bottom: 3rem;
    
    ul {
      padding: 0;
    }
    li {
      list-style: none;
      margin-bottom: 1rem;
    }
  }

  &-number {
    width: 600px;
  }

  &-medsos {
    a {
      color: $quaternary-color;
    }
  }

  &-number p, &-medsos p {
    font-weight: bold;
    font-size: 1.2rem;
  }
}
