@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;
@use './base/texts';

/* ===== Reset & Base ===== */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $quaternary-color;
}

a {
  text-decoration: none;
  color: $tertiary-color;
}

p {
  font-size: 0.9rem;
}

/* ===== Header ===== */
.header, .header-admin {
  background-color: $secondary-color;
  color: $tertiary-color;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logoHky {
  width: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;

  i {
    font-size: 1.5rem;
  }

  .user-info {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }

    .user-name {
      font-weight: bold;
      font-size: 0.9rem;
    }

    .user-role {
      font-size: 0.8rem;
      color: $tertiary-color;
    }
  }
}

.logout-btn {
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $tertiary-color;
    padding: 5px 10px;
    border-radius: 5px;

    a, i {
      color: $secondary-color;
    }
  }
}

/* ===== Footer ===== */
.footer {
  background-color: $secondary-color;
  color: $tertiary-color;
  padding: 10px 20px;

  .logoHky {
    width: 60px;
  }
}

.copyright {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 0;
}

.middleFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 30px;
}

.contacts p {
  display: flex;
  // gap: 10px;
}
.contacts p span:first-child {
  width: 65px;
}

.social-media {
  i {
    width: 20px;
    font-size: 18px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $primary-color;
    }
  }
}

/* ===== Dividers ===== */
.yellowLine {
  height: 1px;
  background-color: $tertiary-color;
}

.yellowLineBold {
  height: 1.3rem;
  background-color: $tertiary-color;
  padding: 0;
}

/* ===== Button ===== */
.baseButton {
  @include button-style;
}

/* ===== Admin ===== */
.content {
  display: flex;
  gap: 1rem;

  .sidebar {
    width: 250px;
    background-image: url('/images/gereja-hky.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    border-right: 8px solid $tertiary-color;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
      text-align: center;
      z-index: 10;
    }
    
    .overlay {
      width: 250px;
      min-height: 90vh;
      position: absolute;
      // inset: 0;
      background: rgba(255, 255, 255, 0.618); // putih transparan
    }
  }
}
