@use './abstracts/variables.scss' as *;
@use './abstracts/mixins.scss' as *;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  @include button-style;
}

.title {
  font-size: 1rem;
}

//header
.header {
  background-color: $secondary-color;
  color: $tertiary-color;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-hky {
  width: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}