@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

// public navigation styles
.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 25px;

  .nav-links {
    display: flex;
    gap: 15px;

    a {
      font-weight: bold;
      font-size: 0.8rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        color: $primary-color;
      }
    }
  }
}

// navigation styles for admin
.navigation-admin {
  width: 100%;
  z-index: 10;

  li {
    list-style: none;
    margin-bottom: 1rem;
  }

  i {
    width: 15px;
    display: flex;
    justify-content: center;
  }

  a {
    color: $quaternary-color;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    gap: 18px;
    align-items: center;
    
    &:hover {
      text-decoration: underline;
    }
    
    &.active {
      font-weight: bold;
    }
  }
}
