@use '../../styles/abstracts/variables.scss' as *;
@use '../../styles/abstracts/mixins.scss' as *;

// public navigation styles
.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 25px;

  .nav-links {
    display: flex;
    gap: 15px;

    a {
      color: $tertiary-color;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
        // color: $quaternary-color;
      }
    }
  }
}
