@use '../../../styles/abstracts/variables.scss' as *;
@use '../../../styles/abstracts/mixins.scss' as *;

.hero-section {
  position: relative;
  background-image: url(../../../assets/images/gereja-hky3.jpeg);
  background-size: cover;
  background-position: center;
  padding: 0 60px;
  color: $quaternary-color;

  // biar tinggi fleksibel
  min-height: 300px;
  // backdrop-filter: blur(4px);
  
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.8); // putih transparan
  }

  .content {
    position: relative; // biar di atas overlay
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: stretch;
    height: 100%;

    .image {
      width: 25%;
      display: flex;
      justify-content: center;

      img {
        height: 100%;
        max-height: 500px; 
        object-fit: contain; // biar ga kepotong
      }
    }
  }
}