@use '../../../styles/abstracts/variables.scss' as *;
@use '../../../styles/abstracts/mixins.scss' as *;

.hero-section {
  position: relative;
  background-image: url(../../../assets/images/gereja-hky3.jpeg);
  background-size: cover;
  background-position: center;
  padding: 0 60px;
  color: $quaternary-color;

  // biar tinggi fleksibel
  min-height: 300px;
  // backdrop-filter: blur(4px);
  
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.8); // putih transparan
  }
}

// sabda kehidupan - section
.content {
  position: relative; // biar di atas overlay
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: stretch;
  height: 100%;

  .image {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: end;

    img {
      height: 100%;
      max-height: 550px; 
      object-fit: contain; // biar ga kepotong
    }
  }
}
.layer-pertama {
  display: flex;
  justify-content: space-between;

  div h2 {
    color: $secondary-color;
    margin-bottom: 0;
  }

  div p {
    margin: 0;
  }
  
  .header-sabda-kehidupan {
    font-weight: bold;
    padding-top: 0.5rem;
  }
}

.information {
  min-height: 350px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

// jadwal - section
.jadwal-section {

  .jadwal-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    .jadwal-item {
      display: flex;
      align-items: center;
      background-color: $secondary-color;
      border-radius: 8px;
      padding: 15px;
      gap: 0.5rem;
      // width: calc(33.333% - 20px); // 3 kolom dengan gap

      h3 {
        font-size: 1rem;
        color: $tertiary-color;
        margin: 0;
      }

      p {
        font-size: 0.8rem;
        color: $tertiary-color;
        margin: 0;
      }
    }

    .waktu {
      display: flex;
      gap: 2rem;
    }
  }
}

.info-paroki-section {
}