@use '@/styles/abstracts/mixins.scss' as *;
@use '@/styles/abstracts/variables.scss' as *;

.contact {

  &-section {
    padding: 0 2rem 2rem;
    display: flex;
    flex-direction: column;
  }
  
  &-main {
    display: flex;
    // justify-content: space-between;
    gap: 2rem;
    padding-bottom: 1rem;
  }

  &-number {
    width: 500px;
  }

  &-medsos a {
    color: $quaternary-color;
  }
}